@media screen and (max-width: 600px){
    *{
        overflow-x: hidden;
    }
    .header-section{
        /* flex-direction: column; */
        display: flex;
        justify-content: space-between;
    }
    .nav-container{
        font-size: 1em;
        width: 100%;
    }
    .nav-container img{
        min-width: 28px;
        height: 33px;
    }
    
    .nav-container p{      
        font-size: 22px;
    }
    
    .items-container{
        display: none;
    }
    #hamburger{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 1rem;
    } 
    
    /* second section */
    .banner-section{
        width: 90%;
        border-radius: 5px;
    }
    .banner-content h1{
        font-size: 22px;
        padding-top: 20px;
    }
    .banner-content p{
       font-size: 14px;       
    }
    .btn-primary{
        flex-direction: column;
        display: flex;
        width: 287px;
        padding: 16px;
        align-items: center;
        gap: 16px;
        margin: 0 auto;
    }
    #bar-option{
        width: 255px;
        height: 52px;
        padding-left: 16px;
    }
    #search-option{
        width: 255px;
        height: 52px;
    }

    /* 3rd section */
    .list-section{
        flex-direction: column;
        margin-top: 24px;
        width: 100%;
        margin: 0 auto;
    }
    .text-container{
        width: 90%;
        padding-left: 16px;
    }
    .text-container h1{
        font-size: 20px;
    }
    .main-btn{
        margin-top: 24px;
    }
    .img-container{     
        margin-left: 16px;
        margin-top: 24px;
    }
    .img-container img{
        width: 100%;
        margin-left: -16px;
    }

    /* destination section */
    .grid-destination{
        
    }
        

    /* choose section */
    .choose-text h2{
        font-size: 20px;
        margin-top: 24px;
    }
    .choose-text p{
        font-size: 14px;
    }
    .choose-content{
        flex-direction: column;
    }
    .price{
        width: 77vw;
    }

    /* optional section */
    .destinations-grid {
        flex-direction: column;
    }
    
    .destination {
        width: 90%;
        margin-bottom: 30px;
    }


    /* footer section */
    .footer-section{
        /* max-width: 375px; */
        max-height: 309px;
        width: 100%;
        margin-top: 2rem;
    }
    span{
        font-size: 22px;
    }
    
    .footer-heading{
        margin-top: 33px;
        margin-left: 90px;
        font-size: 22px;
    }
    .footer-text{
        width: 287px;
        margin-bottom: 10px;
        font-size: 14px;
    }
    .footer-heading img{
        width: 28px;
        height: 33px;
    }
    .line{
        margin: 20px auto;
        width: 335px;
    }
    
}