@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&family=Mulish:wght@400;700;800&family=Poppins:wght@600;700&display=swap');

body{
    font-family: 'Mulish', sans-serif;
}

.header-section{
    max-width: 1250px;
    margin: 0 auto;
    display: flex;
    /* border: 2px solid red; */
}

.nav-container{
    min-height: 56px;
    display: flex;
    align-items: center;
    width: 50%;
}

.nav-container img{
    min-width: 48px;
    object-fit: cover;
}

.nav-container p{
    color: #131318;
    font-size: 36px;
    font-weight: 800;
}

.special{
    color: #FF5400;
}

#hamburger{
    display: none
}

.items-container{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.items-container a{
    text-decoration: none;
    color:#131318;
    font-size: 18px;
    font-weight: 400;
}

.banner-section{
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(../B9A2-Hero-Travel-main/Images/Group\ 13\ \(1\)\ \(1\).png);
    max-width: 1250px;
    min-height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto; 

}

.banner-content{
    text-align: center;
}

.banner-content h1{
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
    padding-top: 106px;
}

.banner-content p{
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
}

.btn-primary{
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.30);
    display: inline-flex;
    padding: 16px;
    align-items: flex-start;
    gap: 24px;
    margin-left: 185px;
    margin-top: 48px;
}
#bar-option{
    width: 174px;
    height: 52px;
    background: #FFF;
    border-radius: 8px;
    border: none;
    padding-left: 15px ;
}

#search-option{
    background-color: #FF5400;
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    width: 174px;
    height: 52px;
    border-radius: 8px;
    border: none;
}

.list-section{
    max-width: 1250px;
    margin: 0 auto;
    display: flex;
    margin-top: 100px;
}

.text-container{
    width: 50%;
}

.text-container h1{
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}

.text-content{
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
}

.text-content li{
    list-style-position: inside;
}

.img-container{
    width: 50%;
    border-radius: 16px;
    margin-left: 53px;
}

.main-btn{
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background-color: #FF5400;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    margin-top: 32px;
}

.destination-section{
    max-width: 1250px;
    margin-top: 174px;
    margin: 0 auto;
}

.text-destination{
    text-align: center;
}

.text-destination h1{
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}

.text-destination p{
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
}

.grid-destination{
    border-radius: 16px;
    color: #FFF;
    text-align: center;
    font-size: 28px;
    font-weight: 800;
    display: grid;
    grid-template-areas: 
    "maldives maldives indonesia indonesia"
    "srilanka america america kashmir"
    "bd bd bandarban bandarban"
    ;
    gap: 24px;
    margin-top: 48px;
}

#maldives{
    background-image: url(../B9A2-Hero-Travel-main/Images/Rectangle\ 5.png);
    width: 573px;
    height: 300px;
    grid-area: maldives;
    /* display: flex;
    justify-content: center; */
}

#indonesia{
    background-image: url(../B9A2-Hero-Travel-main/Images/Rectangle\ 8.png);
    max-width: 573px;
    max-height: 300px;
    border: 2px solid red;
    grid-area: indonesia;
    /* display: flex;
    justify-content: center; */
    width: 100%;
    background-size: cover;
    margin-left: -40px;
}

#srilanka{
    background-image: url(../B9A2-Hero-Travel-main/Images/Rectangle\ 6.png);
    width: 374px;
    height: 286px;
    grid-area: srilanka;
    /* display: flex;
    justify-content: center; */

}

#america{
    background-image: url(../B9A2-Hero-Travel-main/Images/Rectangle\ 7.png);
    width: 474px;
    height: 286px;
    grid-area: america;
    display: flex;
    justify-content: center;
    background-size: cover;
}

#kashmir{
    background-image: url(../B9A2-Hero-Travel-main/Images/Rectangle\ 9.png);
    width: 274px;
    height: 286px;
    grid-area: kashmir;
    display: flex;
    justify-content: center;
    /* margin-left: -420px; */
}

#bd{
    background-image: url(../B9A2-Hero-Travel-main/Images/Rectangle\ 11.png);
    width: 473px;
    height: 300px;
    grid-area: bd;
    /* display: flex;
    justify-content: center; */
}

#bandarban{
    background-image: url(../B9A2-Hero-Travel-main/Images/Rectangle\ 10.png);
    width: 673px;
    height: 300px;
    grid-area: bandarban;
    /* display: flex;
    justify-content: center; */
    margin-left: -150px;
}

.choose-container{
    max-width: 1250px;
    margin: 0 auto;
    /* border: 2px solid red; */
}

.choose-text h2{
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
    margin-top: 100px;
}

.choose-text p{
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

.choose-content{
    margin-bottom: 1.25px;
    display: flex;
    justify-content: space-between;
    gap: 1.25rem;
    margin-top: 3rem;
}

.hotel{
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 32px;
}

.service{
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    padding: 32px;
}

.price{
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    width: 50%;
    max-width: 573px;
    margin: 0 auto;
    padding: 32px;
}

.price h2{
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 16px;
}

.price p{
    color: #131318;
    font-size: 16px;
    font-weight: 400;
}

.content1 img{
    margin-bottom: 32px;
}

.price img{
    margin-bottom: 32px;
}

.content1 h2{
    color: #131318;
    margin-bottom: 1rem;
    font-size: 24px;
    font-weight: 800;
}

.content1 p{
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
}

